<!DOCTYPE html>
<html lang="en">
<head>
    <title>Max Roller</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>Max Roller</h1>
    <hr>
    <p>ctrl + enter to execute.</p>
    <form onsubmit="return execute()">
        <textarea id="code"></textarea>
        <button type="submit">Execute</button>
    </form>
</div>
<script src="/static/code.js"></script>
</body>
</html>