<!DOCTYPE html>
<html lang="en">
<head>
    <title>Max Roller</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>Max Roller</h1>
    <hr>

    <h2 onclick="return toggleTipsHints()"
        style="cursor: pointer;"
        title="Click to toggle tips and hints.">
    
        Tips & hints
    
    </h2>
    <div id="tips-hints">
        <p>ctrl + enter to execute.</p>
    </div>

    <form onsubmit="return execute()">
        <textarea id="code">{{ code }}</textarea>
        <button id="execute-button" type="submit">Execute</button>
    </form>
    <hr>

    <div id="out">
        <h3>Output</h3>
        <ul id="out-ul">
        </ul>
    </div>

    <div id="errors">
        <h3>Errors</h3>
        <ul id="errors-ul">
        </ul>
    </div>
</div>
<script src="/static/code.js"></script>
</body>
</html>