<!DOCTYPE html>
<html lang="en">
<head>
    <title>Max Roller</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>Max Roller</h1>
    <hr>

    <h2 onclick="return toggleTipsHints()"
        style="cursor: pointer;"
        title="Click to toggle tips and hints.">

        Tips & hints

    </h2>
    <div id="tips-hints">
        <h3>General</h3>
        <p>ctrl + enter to execute.</p>

        <h3>Commands</h3>
        <p>
            Only one command per line.
            Whitespace is trimmed from start and end
            before executing the lines
            (only tabs and spaces are considered whitespace).
        </p>

        <h3>OUT</h3>
        <p>Sets an option to a value.</p>

        <h3>UNSET</h3>
        <p>Returns the option to its default value.</p>

        <h3>DEFINE</h3>

        <h3>UNDEFINE</h3>

        <h3>OUT</h3>
        <p>
            `out command` to calculate something,
            for example `out 1+1` will return 2.
        </p>
    </div>

    <form onsubmit="return execute()">
        <textarea id="code">{{ code }}</textarea>
        <button id="execute-button" type="submit">Execute</button>
    </form>
    <hr>

    <div>
        <h3>Output</h3>
        <ul id="out-ul">
        </ul>
    </div>

    <div>
        <h3>Errors</h3>
        <ul id="errors-ul">
        </ul>
    </div>

    <hr>
    <p style="text-align: center;">Created by: <a href="http://remming.fi">Maximilian Remming</a></p>
</div>
{% if debug %}
<script src="/static/code.js"></script>
{% else %}
<script src="/static/code.min.js"></script>
{% endif %}
</body>
</html>
